/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

#logo {
    height: 50px;
    margin-right: 20px;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 1em;
    text-align: center;
    height: 55px;
    align-content: center;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto 1fr auto;
    gap: 1em;
    margin: 1em;
    height: calc(100vh - 55px);
}

.filters {
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 8px;
}

.filters h2 {
    margin-bottom: 1em;
}

.filter-group {
    margin-bottom: 1em;
}

.filter-group label {
    display: block;
    margin-bottom: 0.5em;
}

.filter-group select {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button#goButton {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 0.7em;
    border-radius: 4px;
    cursor: pointer;
}

button#goButton:hover {
    background-color: #005fa3;
}

/* Graphs Section */
.graphs {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 1em;
}

.bar-chart {
    background-color: white;
    padding: 1em;
}

.pie-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pie-chart {
    background-color: white;
    padding: 1em;
    height: 350px;
    flex: 1 1 45%; /* Adjust this to control the width of each chart */
    margin: 0px;
}

/* Statistics Section */
.statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.stat {
    background-color: #0077cc;
    color: white;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
}

#close_reason_pie, #race_pie, #gender_pie, #age_pie {
    width: 300px; /* Adjust width */
    height: 300px; /* Adjust height */
}

